# Fichiers système et de configuration
.DS_Store
Thumbs.db
.vscode/
.idea/

# Fichiers temporaires Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/

# Fichiers temporaires Arduino / ESP32 / PlatformIO
build/
.pio/
.compiler/
*.local
